/* Typewriter.module.css */
h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

h1 span {
    color: blue;
    position: relative;
}

h1 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: white;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

Define the stopBlinking class
.stopBlinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0; }
}
